<!-- JUDGE VIEW PARTIAL -->
<!-- remove this from view once we have data from controller -->
<% @player = Player.new %>
<% @player.save %>

<% @player.starting_hand %>
<% @gifs = @player.gifs %>

<% @prompt = Prompt.working_random_prompt.phrase %>
<% @game = Game.last %>


<!-- TOP ROW -->
<div class="row">

</div><!-- /top row -->

<!-- MIDDLE ROW -->
<div class="row img-row">
  <div class="col-md-3 center-block gif-img">

  </div>

  <div class="col-md-6">
    <div class="col-md-12 prompt-box">
      <h3><%= @prompt %></h3>
    </div>
  </div>

  <div class="col-md-3 center-block gif-img">

 </div>
</div><!-- /middle row -->


<!-- BOTTOM ROW -->
<div class="row img-row">
  <% @gifs[6..9].each do |gif| %>
  <div class="col-md-3 center-block gif-img">
  <div class="gif-button">
    <%= form_for PlayerRoundGif.new do |f| %>
    <%= f.hidden_field :gif_id, :value => gif.id %>
    <%= f.submit "I Choose You!", :type => :image, :src => gif.url %>
    <% end %>
  </div>
  </div>
  <% end %>
</div><!-- /bottom row -->

<div class="judge-instructions text-center">
  <h4>Your turn, gif czar. Choose the best gif!</h4>
</div>
