/* GAMES */

body {
  background: #222222;
}

.img-row {
}

.img-row img {
  max-height:275px;
  max-width:275px;
  padding:10px;
  margin:10px;
  border: 1px solid black;
  border-radius:15px;
  background-color: #444444;
}


.img-row img:hover{
   -ms-transform: rotate(3deg); /* IE 9 */
   -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
   transform: rotate(3deg);
background: purple; /* make this whatever you want */
}


.prompt-box {
  background-color:white;
  text-align:left;
  padding:30px;
  border-radius: 10px;
  height:150px;
  margin:25px;
}

.prompt-box:hover {
   -ms-transform: rotate(358deg); /* IE 9 */
   -webkit-transform: rotate(358deg); /* Chrome, Safari, Opera */
   transform: rotate(358deg);
 }
